apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    {{- include "web-cv.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    {{- include "web-cv.selectorLabels" . | nindent 4 }}
